{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}


<body>
	<center>
		<h1>Meet The Team</h1>
		<hr>

		<!-- First member of the team -->
		<div class="row">
			<div class="column" id="gfg">
				<div class="card">
					<i class="fa fa-user-circle"
					style="font-size:68px;"></i>
					<div class="container">
						<h2>Dhiraj Jayswal</h2>
						<p>Web designing and Development - Python and Django</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Other members of the team -->
		<div class="row">
			<div class="column">
				<div class="card">
					<i class="fa fa-user-circle"
					style="font-size:68px;"></i>
					<div class="container">
						<h2>Pradeep</h2>
						<p>Web designing and Development - Python and Django</p>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<i class="fa fa-user-circle"
					style="font-size:68px;"></i>
					<div class="container">
						<h2>Vidit</h2>
						<p>Web designing and Development - Python and Django</p>
					</div>
				</div>
			</div>

            <div class="column">
				<div class="card">
					<i class="fa fa-user-circle"
					style="font-size:68px;"></i>
					<div class="container">
						<h2>Amar</h2>
						<p>Web designing and Development - Python and Django</p>
					</div>
				</div>
			</div>

            <div class="column">
				<div class="card">
					<i class="fa fa-user-circle"
					style="font-size:68px;"></i>
					<div class="container">
						<h2>Priyansh</h2>
						<p>Web designing and Development - Python and Django</p>
					</div>
				</div>
			</div>

		</div>
	</center>
</body>

{% endblock body %}