{% extends "base.html" %}

{% block title %}Contact{% endblock title %}

{% block body %}

<body>
    <div class="contact-child child2 p-4">
        <div class="inside-contact">
            <h2>Contact Us</h2>
            <h3>
                <span id="confirm">
             </h3>

             <p>Name *</p>
             <input id="txt_name" type="text" Required="required">

             <p>Email *</p>
             <input id="txt_email" type="text" Required="required">

             <p>Phone *</p>
             <input id="txt_phone" type="text" Required="required">

             <p>Subject *</p>
             <input id="txt_subject" type="text" Required="required">

             <p>Message *</p>
             <textarea id="txt_message" rows="4" cols="20" Required="required" ></textarea>
             
             <input type="submit" id="btn_send" value="SEND">
         </div>
    </div>
</body>

{% endblock body %}