{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="container">

    <h1 class="mt-4">Dashboard</h1>

    <div class="container overflow-hidden mt-4">
        <div class="row gy-5 mt-4">
          <div class="col-6">
            <div class="p-3 border bg-light mt-4">Avilable Balance : </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light mt-4">Add Funds</div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light mt-4">Holdings : </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light mt-4">Current value : </div>
          </div>
        </div>
      </div>

</div>

{% endblock body %}