{% extends "base.html" %}

{% block title %}Wallet{% endblock title %}

{% block body %}

<div class="container">

</div>
<div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Wallet
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>______________________________________________</td>
                    <td>__________________</td>
                </tr>
                <tr>
                    <td>Add Funds </td>
                    <td><button type="button" class="btn btn-success">Add Money</button></td>
                </tr>
                <tr>
                    <td>Withdraw Funds</td>
                    <td><button type="button" class="btn btn-success">Withdraw Money</button></td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

</div>

{% endblock body %}